:root {
    --border-line: #00cfcf;
    --back-line-color: #2c74d0;
    --back-color1: #010219;
    --back-color0: #01134c;
    --root-glow: rgb(40, 0, 63);
    --delay-animation: 4s;
    font-family: "Courier New", Courier, monospace;
    color: white;
}

.battlefield_container {
    height: 100%;
    width: 100vw;
}

.battlefield_background_container {
    background: radial-gradient(var(--back-color1), var(--back-color0));
    height: 100vh;
    width: 100vw;
    perspective: 800px;
    position: absolute;
    z-index: -1;
}

.battlefield_background {
    position: absolute;
    width: 160vw;
    height: 80vh;
    left: -30vw;
    background-image: linear-gradient(to right, var(--back-line-color) 1px, transparent 1vh),
        linear-gradient(to bottom, var(--back-line-color) 1px, transparent 1vh);
    box-shadow: 0 0 7px #fff, 0 0 10px #fff, 0 0 21px #fff, 0 0 100px var(--back-line-color),
        0 0 400px var(--back-line-color), 0 0 700px var(--back-line-color),
        0 0 1000px var(--back-line-color), 0 0 1300px var(--back-line-color);

    transition: 4s top;
}

#battlefield_background_o {
    top: -100%;
    transform: rotateX(-80deg);
    background-size: 10vh 2.5vh;
}

#battlefield_background_p {
    top: 150%;
    transform: rotateX(80deg);
    background-size: 10vh 2.5vh;
}

@keyframes test {
    50% {
        box-shadow: 0 0 7px #fff, 0 0 10px #fff, 0 0 21px #fff, 0 0 100px rgb(187, 9, 77),
            0 0 400px rgb(187, 9, 77), 0 0 700px rgb(187, 9, 77), 0 0 1000px rgb(187, 9, 77),
            0 0 1300px rgb(187, 9, 77);
    }
    100% {
        box-shadow: 0 0 7px #fff, 0 0 10px #fff, 0 0 21px #fff, 0 0 100px var(--back-line-color),
            0 0 400px var(--back-line-color), 0 0 700px var(--back-line-color),
            0 0 1000px var(--back-line-color), 0 0 1300px var(--back-line-color);
    }
}

.battlefield_wrapper {
    /* padding: 1% 0px; */
    height: 100%;
    width: 100%;

    display: grid;
    grid-template-columns: 14vw 2vw 22vw 18vw 18vw 18vw 10vw;
    grid-template-rows: 16vh 8vh 20vh 5vh 20vh 10vh 21vh;
    grid-template-areas:
        "ui ui o_hand o_hand o_hand o_hand menu"
        "ui ui o_board o_board o_board o_board menu"
        "ui ui o_board o_board o_board o_board turn"
        "ui ui . . . . turn"
        "ui ui p_board p_board p_board p_board turn"
        "ui ui p_board p_board p_board p_board ."
        "ui ui p_hand p_hand p_hand p_hand p_hand";
}

/*  region USERS INTERFACE  */

.ui {
    --color: rgba(0, 183, 255, 0.5);
    padding: 1vw;
    grid-area: ui;
    background: var(--color);
    box-shadow: 0 0 5px var(--color), 0 0 10px var(--color), 0 0 15px var(--color),
        0 0 100px var(--color);
    /* opacity: 0; */
    transform: translateX(-2.2vw);
    width: 0%;

    z-index: 22;
    transition: 1.5s;
}

.ui > div {
    transform: translateX(-20vw);
    transition: 1.5s;
    width: 88%;
}

.menu {
    grid-area: menu;
    margin-top: 10%;
    width: 70%;
    height: 100%;

    display: flex;
    justify-content: start;
    align-items: center;
    flex-flow: column;
    z-index: 65464;

    transition: 1.5s;
}

.menu > div {
    display: flex;
    justify-content: start;
    align-items: center;
    flex-flow: column;

    color: rgb(255, 255, 255);
    text-shadow: -2px -2px 0px rgb(0, 0, 0), 2px -2px 0 rgb(0, 0, 0), -2px 2px 0 rgb(0, 0, 0),
        2px 2px 0 rgb(0, 0, 0);
    font-size: 1.2rem;
    font-weight: bolder;

    background: rgba(128, 127, 127, 0.5);
    border: rgb(255, 255, 255) 2px solid;
    box-shadow: 0 0 5px rgb(129, 129, 129), 0 0 10px rgb(95, 95, 95);

    width: 100%;
    margin: 10% 0px;
    transition: 0.5s;
}

.show_chat,
.show_note,
.show_settings {
    --width: 23vw;
    --height: calc(var(--ratio) * var(--width));
    background: rgba(0, 183, 255, 0.7);
    position: absolute;
    width: var(--width) !important;
    height: var(--height) !important;
    top: calc(98vh - var(--height));
    left: 105vw;

    z-index: 99999999 !important;
    transition: 0.8s left;
}

.show_chat > iframe {
    height: 100%;
    width: 100%;
}

.o_sub_menu,
.p_sub_menu {
    --color: rgba(0, 183, 255, 0.6);

    width: 11vw;
    height: 35vh;

    position: absolute;
    top: 2vh;
    left: 17vw;

    background: radial-gradient(rgba(255, 255, 255, 0.4), var(--color));
    border-right: solid 1px white;
    box-shadow: 0 0 5px var(--color), 0 0 10px var(--color), 0 0 15px var(--color),
        0 0 100px var(--color);
    /* opacity: 0; */

    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;

    opacity: 0;
    left: 0vw;
    z-index: 0;

    padding: 1% 0px;
    transition: left 1.5s, opacity 2s;
}

#o_sub_menu_btn,
#p_sub_menu_btn {
    position: absolute;
    transform: translate(14.2vw, -1vh);
    /* background-color: red; */
    max-width: 2vw;
    height: 40vh;

    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.o_sub_menu > div,
.p_sub_menu > div {
    text-align: center;
}

.p_sub_menu {
    top: 50vh;
}

#p_username,
#o_username {
    font-size: 1.5rem;
}

#p_welcome_txt,
#o_welcome_txt {
    font-size: 0.8rem;
}

.o_interface {
    width: 100%;
    height: var(--UI-container-height);
    border-bottom: solid 2px white;
}

.p_interface {
    margin-top: 20%;
}

.btn_ui,
.p_power_disable,
.p_power {
    position: absolute;

    width: var(--UI-btn-width);
    aspect-ratio: 1/1;

    color: rgb(255, 255, 255);
    text-shadow: -2px -2px 0px rgb(0, 0, 0), 2px -2px 0 rgb(0, 0, 0), -2px 2px 0 rgb(0, 0, 0),
        2px 2px 0 rgb(0, 0, 0);
    font-size: 2rem;
    font-weight: bolder;

    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;

    transition: 0.5s;
}

#p_mana_bar,
#o_mana_bar {
    position: absolute;
    width: calc(var(--UI-container-width) * 0.5);
    height: calc(var(--UI-container-height) - 5vh);
    background: rgba(0, 0, 0, 0.05);
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    padding-top: 3vh;
    transform: translate(calc(var(--UI-container-width) * 0.5));
    transition: 0.5s;
}

.mana-on,
.mana-off {
    height: 35px;
    width: 35px;
    margin: 3%;
    border-radius: 50%;
    border: rgb(61, 0, 131) solid 2px;
    box-shadow: 0 0 5px rgb(173, 239, 255), 0 0 10px rgb(136, 241, 255);
}

:root {
    --UI-container-width: 14vw;
    --UI-container-height: 42vh;

    --UI-btn-width: calc(var(--UI-container-width) * 0.24);
    --ty: calc(var(--UI-btn-width) * 0.11);
    --tx: calc(var(--UI-btn-width) * 0.2);
}

#o_hero {
    position: absolute;
    /* background-image: url(../img/cards/10.jpg); */
    background-size: cover;

    width: var(--UI-container-width);
    aspect-ratio: 1/1.4;
}

#o_hp,
#p_hp {
    /* transform: translate(calc(var(--tx) * 0.35), calc(var(--tx) * 0.1)); */
    transform: translate(var(--tx), calc(var(--ty)));
}

#o_mana,
#p_mana {
    transform: translate(var(--tx), calc(var(--ty) * 18));
}

#o_deck,
#p_deck {
    /* transform: translate(calc(var(--tx) * 0.35), calc(var(--tx) * 0.7)); */
    transform: translate(var(--tx), calc(var(--ty) * 18 * 2));
}

.p_power,
.p_power_disable {
    position: absolute;
    transform: translateY(42vh);
    width: var(--UI-container-width);
    aspect-ratio: 7/1;
    background: rgba(128, 127, 127, 0.5);
    border: rgb(255, 255, 255) 2px solid;
    box-shadow: 0 0 5px rgb(129, 129, 129), 0 0 10px rgb(95, 95, 95);
}
.btn_ui::after {
    content: "♥";
    position: absolute;
    transform: translate(calc(var(--UI-btn-width) * -0.6), calc(var(--UI-btn-width) * 0.6));
}

#p_mana::after,
#o_mana::after {
    content: "o";
}
#o_deck::after,
#p_deck::after {
    font-size: 1.3rem;
    content: "▯";
}

.btn_ui::before {
    content: "";
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%) rotate(45deg);

    width: var(--UI-btn-width);
    aspect-ratio: 1/1;
    z-index: -1;

    background: rgba(128, 127, 127, 0.5);
    border: rgb(255, 255, 255) 2px solid;
    box-shadow: 0 0 5px rgb(129, 129, 129), 0 0 10px rgb(95, 95, 95);
}

/* #p_hero,
#o_hero {
    height: 30%;
    width: 80%;
    border-radius: 20% 5%;
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: 0 0 5px rgb(0, 0, 0), 0 0 10px rgb(255, 255, 255);
}

#p_power,
#o_power,
#o_deck,
#p_deck,
#p_hp,
#o_hp {
    height: 10%;
    width: 60%;
    background: rgba(151, 151, 151, 0.3);
    border-radius: 20%;
    color: black;
    text-align: center;
    font-size: 2rem;
    font-weight: bolder;
    text-shadow: -1px -1px 0 rgb(255, 255, 255), 1px -1px 0 rgb(255, 255, 255),
        -1px 1px 0 rgb(255, 255, 255), 1px 1px 0 rgb(255, 255, 255);
    transition: 0.25s;
}

#p_power:hover,
#o_power:hover {
    background: rgba(255, 255, 255, 0.226);
    box-shadow: 0 0 5px #fff, 0 0 10px #fff;
}
*/

.mana-off {
    background: rgba(128, 128, 128, 0);
}
.mana-on {
    background: rgb(250, 252, 251);
}

#p_hp,
#o_hp {
    /* color: black;
    font-weight: bolder;
    text-align:center ;
    font-size: 2rem;
    text-shadow:
    -1px -1px 0 rgb(255, 255, 255),
    1px -1px 0 rgb(255, 255, 255),
    -1px 1px 0 rgb(255, 255, 255),
    1px 1px 0 rgb(255, 255, 255); */
}

.menu_btn {
    grid-area: turn;
    max-width: 70%;
    padding: 60% 0px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}

.menu_btn > .sub_container {
    height: 50%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
}

.turn,
.turn_disable,
.surrender,
.timer {
    width: 100%;
    border-radius: 20%;
    background: rgba(128, 127, 127, 0.5);
    border: rgb(255, 255, 255) 2px solid;
    box-shadow: 0 0 5px rgb(129, 129, 129), 0 0 10px rgb(95, 95, 95);
    text-shadow: -2px -2px 0px rgb(0, 0, 0), 2px -2px 0 rgb(0, 0, 0), -2px 2px 0 rgb(0, 0, 0),
        2px 2px 0 rgb(0, 0, 0);

    display: flex;
    justify-content: center;
    color: rgb(255, 255, 255);
    align-items: center;
    font-weight: bolder;
    transition: 0.25s;

    transform: translateX(50vh);
    transition: 0.5s, 3s transform;
}

.surrender {
    font-size: 0.5rem;
    width: 80%;
    min-height: 10%;
}

.turn {
    min-height: 30%;
}

.turn_disable,
.p_power_disable {
    opacity: 0.8;
    filter: brightness(0.1);
}

.turn:hover,
.menu > div:hover,
.p_power:hover,
.quitter:hover,
.surrender:hover {
    background: rgba(0, 0, 0, 0.8);
    box-shadow: 0 0 5px rgb(255, 255, 255), 0 0 10px rgb(255, 255, 255), 0 0 15px rgb(255, 255, 255);
}

.timer {
    /* grid-area: timer; */
    height: 25%;
    font-size: 2rem;
    transition: 0.5s, 2s transform;
}

/*  endregion USERS INTERFACE  */
@keyframes flicker-on-1 {
    0% {
        opacity: 0;
    }
    10% {
        opacity: 1;
    }
    15% {
        opacity: 0;
    }
    30% {
        opacity: 1;
    }
    75% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

:root {
    /* ratio front-image: 11/7 */
    --ratio: calc(11 / 7);
    --card-width: 10vw;
    --card-height: calc(var(--card-width) * var(--ratio));
    --card-border: calc(var(--card-width) * 0.03);
    --card-ui-font: calc(var(--card-width) * 0.15);
}

.show_card,
.p_card_in_hand {
    width: var(--card-width);
    height: var(--card-height);
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(../img/cards/0.jpg);
    background-position: center center;
    border-radius: 5%;
    box-shadow: 0 0 4px rgb(0, 0, 0), 0 0 10px rgb(255, 0, 212);

    transition: box-shadow 0.8s, 0.2s;
}

.p_card_in_hand > div,
.show_card > div {
    --container-width: var(--card-width);
    --container-height: var(--card-height);

    width: var(--element-width);
    transform: translate(var(--element-translateX), var(--element-translateY));
    font-size: var(--card-ui-font);
}

.p_card_in_hand {
    transform: translateY(calc(var(--card-height) * 0.4));
    margin-left: calc(var(--card-width) * -0.3);
    animation: flicker-on-1 0.8s both;
}
.p_card_in_hand:hover {
    transform: scale(1.5) translateY(-10vh) !important;
    z-index: 2;
}

.show_card {
    --width: 19vw;
    --height: calc(var(--ratio) * var(--width));
    position: absolute;
    width: var(--width);
    height: var(--height);
    top: calc(98vh - var(--height));
    left: 106vw;

    transition: 0.8s left;
}

.show_card > div {
    --container-width: 19vw;
    --container-height: calc(var(--ratio) * 19vw);
}

.p_board,
.o_board {
    grid-area: p_board;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.o_board {
    grid-area: o_board;
}
.p_board {
    grid-area: p_board;
}

.p_hand,
.o_hand {
    grid-area: p_hand;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.o_hand {
    grid-area: o_hand;
    transform: rotate(180deg);
}

.o_card_in_hand {
    transform: translateY(50%);
}

.o_card_in_hand {
    /* background-image: url(../img/cards/1.jpg); */
    background-size: contain;
    background-repeat: no-repeat;
    width: 12vw;
    height: 42vh;
    margin-left: -8%;
    transform: translateY(40%);
    transition: 0.2s transform;
    animation: flicker-on-1 0.8s both;
}

.game_over {
    position: absolute;
    width: 0vw;
    height: 95vh;
    background-color: black;
    opacity: 0.8;
    display: none;

    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    z-index: 555555;
    box-shadow: 0 0 7px rgb(0, 0, 0), 0 0 10px rgb(0, 0, 0), 0 0 21px rgb(0, 0, 0),
        0 0 100px rgb(0, 0, 0), 0 0 50px rgb(0, 0, 0), 0 0 200px rgb(0, 0, 0);

    animation: flicker-on-2 1.5s both;
}

.game_over > *,
.waiting_screen > * {
    position: absolute;
}

.game_over > h1 {
    font-family: gomeover;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 8rem;
    font-style: italic;
    opacity: 1 !important;
    animation: shake 0.5s infinite alternate;
}

.quitter {
    position: absolute;
    top: 5%;
    left: 5%;
    z-index: 4654364;

    color: white;
    font-size: 1.5rem;

    border-radius: 10%;
    background: rgba(128, 127, 127, 0.5);
    border: rgb(255, 255, 255) 2px solid;
    box-shadow: 0 0 5px rgb(129, 129, 129), 0 0 10px rgb(95, 95, 95);
    opacity: 0;
    animation: display_txt_gameOver 1s both 0.5s;
}

@keyframes flicker-on-2 {
    100% {
        width: 95vw;
    }
}

@keyframes display_txt_gameOver {
    100% {
        opacity: 1;
    }
}

.turn_indicator {
    width: 20vw;
    aspect-ratio: 2.5/1;

    position: absolute;
    top: 50vh;
    /* left: 55vw; */
    left: -20vw;
    transform: translate(-50%, -50%);

    color: white;
    border-radius: 10%;
    background: radial-gradient(rgba(211, 210, 210, 0.8), rgba(78, 78, 78, 0.8));
    border: rgb(255, 255, 255) 2px solid;
    box-shadow: 0 0 5px rgb(129, 129, 129), 0 0 10px rgb(95, 95, 95);

    display: none;
    justify-content: center;
    align-items: center;
    font-size: 2.5rem;
    font-weight: bolder;
    text-shadow: -4px -4px 0px rgb(0, 0, 0), 2px -2px 0 rgb(0, 0, 0), -2px 2px 0 rgb(0, 0, 0),
        2px 2px 0 rgb(0, 0, 0);

    animation: show_turn_indicator_1 3s ease-in-out;
    opacity: 0;
}

@keyframes show_turn_indicator_1 {
    30% {
        left: 60%;
        opacity: 1;
    }
    70% {
        left: 50%;
        opacity: 1;
    }
    100% {
        left: 120vw;
    }
}

@keyframes show_turn_indicator_2 {
    50% {
        opacity: 1;
        transform: scale(1.5);
        left: 44vw;
        top: 45vh;
    }
}

.victory {
    --text-shadow: #813d08;
    color: #fdc844;
    text-shadow: -2px -2px 0px var(--text-shadow), 2px -2px 0 var(--text-shadow),
        -2px 2px 0 var(--text-shadow), 2px 2px 0 var(--text-shadow);
    font-size: 1.2rem;
}

.defeat {
    --text-shadow: #810808;
    color: #fd4444;
    text-shadow: -2px -2px 0px var(--text-shadow), 2px -2px 0 var(--text-shadow),
        -2px 2px 0 var(--text-shadow), 2px 2px 0 var(--text-shadow);
    font-size: 1.2rem;
}

@keyframes shake {
    0% {
        transform: translate(-50.5%, -50.8%);
    }
    10% {
        transform: translate(-50.4%, -50.1%);
    }
    20% {
        transform: translate(-50.3%, -50.5%);
    }
    30% {
        transform: translate(-50.8%, -50.1%);
    }
    40% {
        transform: translate(-50.2%, -50.8%);
    }
    50% {
        transform: translate(-50.6%, -50.1%);
    }
    60% {
        transform: translate(-50.1%, -50.7%);
    }
    70% {
        transform: translate(-50.6%, -50.3%);
    }
    80% {
        transform: translate(-50%, -50.4%);
    }
    90% {
        transform: translate(-50.9%, -50.2%);
    }
    100% {
        transform: translate(-50.2%, -50.1%);
    }
}

.waiting_screen {
    display: flex;
    width: 80%;
    background: none;
    box-shadow: none;
    animation: flicker-on-2 1s !important;
    margin: 0px auto;
}

.waiting_screen > h1 {
    animation: flicker-on-1 1s both !important;
    width: 100%;
    text-align: center;
}

.waiting_screen > span {
    top: 55%;
    left: 62%;
    background-color: white;
    width: 1vw;
    aspect-ratio: 1/1;
    animation: scale-1 2s infinite alternate linear 0s;
}

.waiting_screen > span::after {
    position: absolute;
    content: "";
    background-color: white;
    width: 1vw;
    transform: translateX(2vw);
    aspect-ratio: 1/1;

    animation: scale-2 2s infinite alternate linear 1s;
}

.waiting_screen > span::before {
    content: "";
    position: absolute;

    background-color: white;
    width: 1vw;
    aspect-ratio: 1/1;
    transform: translateX(4vw);

    animation: scale-3 2s infinite alternate linear 2s;
}

@keyframes scale-3 {
    50% {
        transform: translate(4vw, -1vw);
    }
}

@keyframes scale-2 {
    50% {
        transform: translate(2vw, -1vw);
    }
}
@keyframes scale-1 {
    50% {
        transform: translate(0vw, -1vw);
    }
}
