* {
    margin: 0px;
    padding: 0px;
    cursor: default;
}

:root {
    --unit-w: 1vw;
    --unit-h: 1vh;
    --width: 70vw;

    --open-animation-duration: 8s;
    --blur-animation-duration: 5s;

    --container-color: rgb(34, 73, 110);
    --cliclable-color: rgb(110, 34, 93);
    --neon-color: #0fa;

    font-size: 20px;
    font-family: font;
    color: rgb(106, 193, 233);
}

@font-face {
    font-family: font;
    src: url(../font/OriginTech_personal_use.ttf);
}

@font-face {
    font-family: gomeover;
    src: url(../font/big_noodle_titling_oblique.ttf);
}

html,
body {
    overflow: hidden;
    width: calc(var(--unit-w) * 100);
    height: calc(var(--unit-h) * 100);
}

audio {
    display: none;
}

@media only screen and (orientation: portrait) {
    html {
        transform: rotate(90deg);
    }
    :root {
        font-size: 0.8rem;
        --unit-w: 1vh;
        --unit-h: 1vw;
    }
}

@media only screen and (orientation: landscape) {
    html {
        transform: rotate(0deg);
    }
    :root {
        --unit-w: 1vw;
        --unit-h: 1vh;
    }
}

@media only screen and (max-width: 576px) {
    :root {
        font-size: 0.5rem;
    }
}
