* {
    margin: 0px;
    padding: 0px;
    cursor: default;
}

:root {
    --open-animation-duration: 8s;
    --blur-animation-duration: 5s;
    --container-color: rgb(34, 73, 110);
    --cliclable-color: rgb(110, 34, 93);
    --width: 70vw;
    --neon-color: #0fa;
    color: rgb(106, 193, 233);
    font-size: 20px;
    font-family: font;
    --unit-w: 1vw;
    --unit-h: 1vh;
}

@font-face {
    font-family: font;
    src: url(../font/OriginTech_personal_use.ttf);
}

@font-face {
    font-family: gomeover;
    src: url(../font/big_noodle_titling_oblique.ttf);
}

body {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

html {
    overflow: hidden;
}
html,
body {
    position: relative;
}
audio {
    display: none;
}

@media only screen and (orientation: portrait) {

    html {
        transform: rotate(90deg);
    }
    :root {
        font-size: 0.8rem;
        --unit-w: 1vh;
        --unit-h: 1vw;
    }
}

@media only screen and (orientation: landscape) {
    html {
        transform: rotate(0deg);
    }
}

@media only screen and (max-width: 576px) {
    :root {
        font-size: 0.5rem;
    }
}
