body{
    overflow: hidden;
}

#background_lobby{
    z-index: -1;
    position: absolute;
    width: 100vw;
    height: 100vh;
    background: url(../img/background_lobby_reference.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    /* animation: unblur 10s both ease-in; */
}

.darken-filter{
    position: absolute;
    width: 100vw;
    height: 100vh;
    background-color: rgb(0, 0, 0);
    opacity: 0.4;
}

.eye{
    width: 100vw;

    grid-area: eye;
    position: absolute;
    top: 50%; left: 50%; bottom: 0; right: 0;
    transform: translate(-50%, -50%);

    background-color: transparent;
    border-radius:100%;
    box-shadow: inset 0px 0px 50px 100px rgb(0, 0, 0);
    border: 100vh solid black;

    animation: openning-eye 15s both ease-in;
    animation-delay: 2s ;
}

@keyframes openning-eye {
    0%{height:0vh;}
    25%{height:80vh;}
    55%{height:45vh;
        box-shadow: inset 0px 0px 50px 100px rgb(0, 0, 0);}
    100%{height:500vh;
        box-shadow: inset 0px 0px 0px 0px rgb(0, 0, 0);}
}

@keyframes unblur{
    0%{filter:blur(10px);}
    100%{filter:blur(00px);}
}

.item-a {

    grid-area:header;
    width: 100%;
    height: 100%;
    background-color: red;
}

.lobby-wrapper {
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    grid-template-areas:
      "header header . . ."
      ". . . . ."
      ". . . . .";
  }