body{
    overflow: hidden;
    background: radial-gradient(#024577, #010717);
}

:root{
    --border-line:#01ffff;
}

.eye{
    width: 100vw;
    grid-area: eye;

    position: absolute;
    top: 50%; left: 50%; bottom: 0; right: 0;
    transform: translate(-50%, -50%);

    border-radius:100%;
    box-shadow: inset 0px 0px 50px 100px rgb(0, 0, 0);
    border: 100vh solid black;

    animation: openning-eye 15s both ease-in;
    animation-delay: 2s ;
}

@keyframes openning-eye {
    0%{height:0vh;}
    25%{height:80vh;}
    55%{height:45vh;
        box-shadow: inset 0px 0px 50px 100px rgb(0, 0, 0);}
    100%{height:500vh;
        box-shadow: inset 0px 0px 0px 0px rgb(0, 0, 0);}
}

@keyframes unblur{
    0%{filter:blur(10px);}
    100%{filter:blur(00px);}
}

.lobby-wrapper {
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: 10vw 10vw 10vw 10vw 10vw 15vw;
    grid-template-rows: 12vw 10vw 10vw 10vw 10vw;
    column-gap: 2%;
    row-gap: 2%;
    grid-template-areas:
      "pratique_btn . . . . . . "
      "jouer_btn . . . . . . "
      "quitter_btn . . . . chat-screen chat-screen"
      ". . . . . chat-screen chat-screen"
      ". . . . . . .";
}

.chat{
    grid-area: chat-screen;
    border: var(--border-line) 4px solid ;
}

.chat > iframe{
    width: 100%;
    height: 100%;
}

#pratique{
    grid-area: pratique_btn;
}
#jouer{
    grid-area: jouer_btn;

}
#quitter{
    grid-area: quitter_btn;
}