.container_transition_tunel{
    position: absolute;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: opacity 3s;
}

.square{
    position: absolute;
    border: solid 5px;
    animation: scale_square 0.8s alternate infinite;
    box-shadow:
    0 0 5px #fff,
    0 0 10px rgb(161, 228, 255);
}

@keyframes scale_square {
    to{
        transform: scale(1.1);
    }
}