.settings {
    width: 100%;
    height: 100%;
    z-index: 645;
    flex-direction: column;
}

.settings > div:first-child {
    display: flex;
    justify-content: space-around;
    align-items: center;

    width: 90%;
    height: 8%;
    margin: 0px auto;
    border-bottom: 1px solid white;
}

.settings > div:first-child > div {
    color: rgb(255, 255, 255);
    background: rgba(128, 127, 127, 0.5);
    box-shadow: 0 0 5px rgb(129, 129, 129), 0 0 10px rgb(95, 95, 95);
    transition: 0.5s;
    border-radius: 15%;
    padding: 0px 0.2%;
}

.settings > div:first-child > div:hover {
    background: rgba(0, 0, 0, 0.5);
    box-shadow: 0 0 5px rgb(255, 255, 255), 0 0 10px rgb(255, 255, 255), 0 0 15px rgb(255, 255, 255);
}

.settings_txt > div {
    width: 90%;
    margin: 5% auto;
    flex-direction: column;
    display: flex;
}
#control > p {
    margin-bottom: 1%;
}

#control,
#animation {
    display: none;
}

.setting_btn {
    text-align: center;
    border-radius: 5% !important;
    background-color: rgba(255, 255, 255, 0.3);
    box-shadow: 0px 0px 2px white;
    color: white;
    width: 7vw;
    height: 3vh;
    margin-top: 2vh;
    margin-right: auto;
}

.setting_btn:hover {
    box-shadow: 0px 0px 2px white, 0px 0px 12px white;
}

.btn_selected {
    background: rgba(0, 0, 0, 0.5) !important;
}

#sound > div > h2 {
    width: 100%;
    border-bottom: 1px solid white;
    margin-bottom: 2vh;
    color: white;
}

#sound > div {
    margin: 2vh 0px;
}

#setting_music_container,
#setting_sfx_container {
    width: 100%;
    max-width: 35vw;

    height: 40%;
}

#setting_music_container > div,
#setting_sfx_container > div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    margin: 2vh 0px;
}

#setting_music_container button,
#setting_sfx_container button {
    margin: 0px;
    padding: 0px 2%;
    width: auto;
}

/* https://www.w3schools.com/howto/howto_js_rangeslider.asp */
.slidecontainer {
    width: 50%;
}

/* The slider itself */
.slider {
    appearance: none;
    width: 100%;
    height: 1vh;
    background: #d3d3d3;
    opacity: 0.7;
    transition: opacity 0.2s;
}

.slider:hover {
    opacity: 1;
}

.slider::-webkit-slider-thumb {
    appearance: none;
    width: 2vh;
    aspect-ratio: 1/1;
    border-radius: 50%;
    background: var(--border-line);
    cursor: pointer;
}
